In [1]:
# import libraries
import pandas as pd
import os

In [12]:
# The path to our CSV file
file = r"C:\Users\arkos\Downloads\Butler\Project 2\Firearm Mortality by State.csv"

# Create Dataframe from our CSV
df = pd.read_csv(file)
df.head()

   YEAR STATE  RATE (PER 100000)  DEATHS
0  2019    AL               22.2    1076
1  2019    AK               24.4     179
2  2019    AZ               15.1    1136
3  2019    AR               19.3     580
4  2019    CA                7.2    2945